html,body {
    height: 100%;
    width:100%;
}

body {
    color: #555;
    background-color: rgb(217,217,217);
    margin: 0;
    font: 18px "Times New Roman", Times, serif;
    font-weight: normal;
}

.header {
    background-color: rgb(87,97,78);
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0 0 0 15%;
    height: 12%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 0;
}

.header__nav {
    width: 55%;
}

.nav__link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(180,194,168);
    text-shadow: 1px 1px 1px black;
}

.nav__link_active {
    color:white;
}

.nav__link:hover {
    color:gray;
}

.tagline {
    background-color: rgb(233,233,233);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tagline__image {
    transition: 0.7s ease;
    padding: 1% 0 0 0;
}

.tagline__image:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}

.tagline__text {
    margin: 0 0 0 100px;
    font-size: 42px;
    font-weight: normal;
    text-align: center;
    line-height: 50px;
}

.tagline__text-secondary {
    font-size: 36px;
}

.promise {
    background-color: rgb(229,229,229);
    display: flex;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    border-bottom: 2px solid white;
}

.promise__left-text {
    flex-basis: 45%;
    padding: 0 1% 0 0;
    border-right: 2px dotted white;
}

.promise__header {
    font-size: 36px;
    font-weight: normal;
}

.promise__link, .promise__link:hover {
    color: inherit;   
}

.promise__right-text {
    flex-basis: 15%;
    padding: 0 5% 1% 1%;
}

.promise__qoute-header {
    padding-top: 20px;
    font-size: 22px;
    font-weight: normal;
}

.promise__qoute-text {
    margin: 0;
}

.promise__qoute-author {
    text-align: right;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(217,217,217);
}

.advantages__header {
    margin: 30px 0 0 0;
    font-size: 18px;
}

.advantages__text {
    margin-top: 0;
    width: 70%;
}

.advantages__item {
    flex-basis: 17%;
    padding: 0 0 2% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advantages__image {
    width: 220px;
    border: 6px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.advantages__header-text {
    font-size: 22px;
    padding: 0;
    margin: 1% 0 1% 16%;
}

.contacts {
    background-color: rgb(217,217,217);
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    line-height: 30px;
}

.contacts__item {
    flex-basis: 20%;
    text-align: left;
    border-left: 2px solid lightgrey;
    padding: 0 2% 0 0;
}

.contacts__bottom {
    padding: 2% 0 2% 0;
}

.contacts__header {
    font-size: 18px;
    margin: 0;
}

.contacts__info {
    margin: 0;
}

.input-button {
    width: 40%;
    height: 3%;
    text-align: center;
    background-color: rgb(108,108,108);
    color: white;
    border-radius: 0px 3px;
    border: none;
    box-shadow: 0px 0px 0px 2px rgba(207,207,207, 0.8);
    animation: shadow-button 1s infinite;
}

.contacts__input-button {
    width: 70%;
    height: 5%;
}

.contacts__item:first-child {
    border-left: none;
}

.footer {
    background-color: rgb(87,97,78);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.social__item {
    padding-left: 5px;
}

@keyframes shadow-button
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
     }
}


@media screen and (max-width: 1024px) {
    .advantages__image, .input-button {
        width: 80%;
        min-width: 100px;
        max-width: 48%;
        height: auto;
        padding: 1%;
    }

    .tagline {
        min-width: 100px;
        max-width: 48%;
    }

    .tagline__image, .tagline__text {
        min-width: 200px;
        max-width: 48%;
        font-size: 14px;
    }

    .header {
        min-width: 200px;
        max-width: 48%;
    }

    .nav, .nav__link {
        max-width: 48%;
        padding: 0 8% 0 0;
    }

    .nav {
        flex-direction: column;
    }
}